.journal-trades-table tr {
    font-size: 12px;
}

.win-lg {
    background-color: #27ae60aa !important;
}
.win {
    background-color: #27ae6055 !important;
}
.win-sm {
    background-color: #27ae6022 !important;
}

.loss-lg {
    background-color: #e74c3caa !important;
}
.loss {
    background-color: #e74c3c55 !important;
}
.loss-sm {
    background-color: #e74c3c22 !important;
}

.fin-short {
    color:#e74c3c;
    font-weight: bold;
    font-size: 1.5em;
}
.fin-long {
    color:#27ae60;
    font-weight: bold;
    font-size: 1.5em;
}