.market-work-time {
  height: 20px;
  margin-left: 5px;
  display: flex;
  justify-content: flex-start;
  line-height: 19px;
}

.market-work-time-flag {
  margin-top: 0;
}

.market-work-time-open {
  color: green;
}

.market-work-time-closed {
  color: red;
}

.MarketWorkTime_market {
  margin-left: 5px;
  display: flex;
  margin-top: 3px;
}

.MarketWorkTime_market i {
  margin-left: 3px;
}
