.alert-icon {
    width: 40px;
    height: 20px;
}

/*------------------------------------------------*/
.direction-up {
    background-image: url("images/direction-up.png");
    width: 20px;
    height: 20px;
}
.direction-down {
    background-image: url("images/direction-down.png");
    width: 20px;
    height: 20px;
}

/*------------------------------------------------*/
.confirm {
    background-image: url("images/confirm.png");
    width: 20px;
    height: 20px;
}
/*------------------------------------------------*/
.strength-icon {
    width: 20px;
    height: 20px;
}

.strength-general {
    background-image: url("images/strength/strength-general.png");
}
.strength-strong {
    background-image: url("images/strength/strength-strong.png");
}
.strength-very_strong {
    background-image: url("images/strength/strength-very_strong.png");
}
.strength-extremely_strong {
    background-image: url("images/strength/strength-extremely_strong.png");
}

/*------------------------------------------------*/
.bearish-reversal-pattern-engulfing-m15 {
    background: url("images/candle-patterns.png") no-repeat 0 0;
}
.bearish-reversal-pattern-engulfing-m30 {
    background: url("images/candle-patterns.png") no-repeat -40px 0;
}
.bearish-reversal-pattern-engulfing-m60 {
    background: url("images/candle-patterns.png") no-repeat -80px 0;
}
.bearish-reversal-pattern-engulfing-h2 {
    background: url("images/candle-patterns.png") no-repeat -120px 0;
}
.bearish-reversal-pattern-engulfing-h4 {
    background: url("images/candle-patterns.png") no-repeat -160px 0;
}
.bearish-reversal-pattern-engulfing-day {
    background: url("images/candle-patterns.png") no-repeat -200px 0;
}
.bearish-reversal-pattern-engulfing-week {
    background: url("images/candle-patterns.png") no-repeat -240px 0;
}
.bearish-reversal-pattern-engulfing-month {
    background: url("images/candle-patterns.png") no-repeat -280px 0;
}
/*------------------------------------------------*/
.bullish-reversal-pattern-engulfing-m15 {
    background: url("images/candle-patterns.png") no-repeat 0 -20px;
}
.bullish-reversal-pattern-engulfing-m30 {
    background: url("images/candle-patterns.png") no-repeat -40px -20px;
}
.bullish-reversal-pattern-engulfing-m60 {
    background: url("images/candle-patterns.png") no-repeat -80px -20px;
}
.bullish-reversal-pattern-engulfing-h2 {
    background: url("images/candle-patterns.png") no-repeat -120px -20px;
}
.bullish-reversal-pattern-engulfing-h4 {
    background: url("images/candle-patterns.png") no-repeat -160px -20px;
}
.bullish-reversal-pattern-engulfing-day {
    background: url("images/candle-patterns.png") no-repeat -200px -20px;
}
.bullish-reversal-pattern-engulfing-week {
    background: url("images/candle-patterns.png") no-repeat -240px -20px;
}
.bullish-reversal-pattern-engulfing-month {
    background: url("images/candle-patterns.png") no-repeat -280px -20px;
}
/*------------------------------------------------*/
.bearish-reversal-pattern-dark-cloud-cover-m15 {
    background: url("images/candle-patterns.png") no-repeat 0 -40px;
}
.bearish-reversal-pattern-dark-cloud-cover-m30 {
    background: url("images/candle-patterns.png") no-repeat -40px -40px;
}
.bearish-reversal-pattern-dark-cloud-cover-m60 {
    background: url("images/candle-patterns.png") no-repeat -80px -40px;
}
.bearish-reversal-pattern-dark-cloud-cover-h2 {
    background: url("images/candle-patterns.png") no-repeat -120px -40px;
}
.bearish-reversal-pattern-dark-cloud-cover-h4 {
    background: url("images/candle-patterns.png") no-repeat -160px -40px;
}
.bearish-reversal-pattern-dark-cloud-cover-day {
    background: url("images/candle-patterns.png") no-repeat -200px -40px;
}
.bearish-reversal-pattern-dark-cloud-cover-week {
    background: url("images/candle-patterns.png") no-repeat -240px -40px;
}
.bearish-reversal-pattern-dark-cloud-cover-month {
    background: url("images/candle-patterns.png") no-repeat -280px -40px;
}

/*------------------------------------------------*/
.bearish-reversal-pattern-harami-m15 {
    background: url("images/candle-patterns.png") no-repeat 0 -60px;
}
.bearish-reversal-pattern-harami-m30 {
    background: url("images/candle-patterns.png") no-repeat -40px -60px;
}
.bearish-reversal-pattern-harami-m60 {
    background: url("images/candle-patterns.png") no-repeat -80px -60px;
}
.bearish-reversal-pattern-harami-h2 {
    background: url("images/candle-patterns.png") no-repeat -120px -60px;
}
.bearish-reversal-pattern-harami-h4 {
    background: url("images/candle-patterns.png") no-repeat -160px -60px;
}
.bearish-reversal-pattern-harami-day {
    background: url("images/candle-patterns.png") no-repeat -200px -60px;
}
.bearish-reversal-pattern-harami-week {
    background: url("images/candle-patterns.png") no-repeat -240px -60px;
}
.bearish-reversal-pattern-harami-month {
    background: url("images/candle-patterns.png") no-repeat -280px -60px;
}

/*------------------------------------------------*/
.bullish-reversal-pattern-harami-m15 {
    background: url("images/candle-patterns.png") no-repeat 0 -80px;
}
.bullish-reversal-pattern-harami-m30 {
    background: url("images/candle-patterns.png") no-repeat -40px -80px;
}
.bullish-reversal-pattern-harami-m60 {
    background: url("images/candle-patterns.png") no-repeat -80px -80px;
}
.bullish-reversal-pattern-harami-h2 {
    background: url("images/candle-patterns.png") no-repeat -120px -80px;
}
.bullish-reversal-pattern-harami-h4 {
    background: url("images/candle-patterns.png") no-repeat -160px -80px;
}
.bullish-reversal-pattern-harami-day {
    background: url("images/candle-patterns.png") no-repeat -200px -80px;
}
.bullish-reversal-pattern-harami-week {
    background: url("images/candle-patterns.png") no-repeat -240px -80px;
}
.bullish-reversal-pattern-harami-month {
    background: url("images/candle-patterns.png") no-repeat -280px -80px;
}

/*------------------------------------------------*/
.bearish-reversal-pattern-shooting-star-m15 {
    background: url("images/candle-patterns.png") no-repeat 0 -100px;
}
.bearish-reversal-pattern-shooting-star-m30 {
    background: url("images/candle-patterns.png") no-repeat -40px -100px;
}
.bearish-reversal-pattern-shooting-star-m60 {
    background: url("images/candle-patterns.png") no-repeat -80px -100px;
}
.bearish-reversal-pattern-shooting-star-h2 {
    background: url("images/candle-patterns.png") no-repeat -120px -100px;
}
.bearish-reversal-pattern-shooting-star-h4 {
    background: url("images/candle-patterns.png") no-repeat -160px -100px;
}
.bearish-reversal-pattern-shooting-star-day {
    background: url("images/candle-patterns.png") no-repeat -200px -100px;
}
.bearish-reversal-pattern-shooting-star-week {
    background: url("images/candle-patterns.png") no-repeat -240px -100px;
}
.bearish-reversal-pattern-shooting-star-month {
    background: url("images/candle-patterns.png") no-repeat -280px -100px;
}

/*------------------------------------------------*/
.bearish-reversal-pattern-hanging-man-m15 {
    background: url("images/candle-patterns.png") no-repeat 0 -120px;
}
.bearish-reversal-pattern-hanging-man-m30 {
    background: url("images/candle-patterns.png") no-repeat -40px -120px;
}
.bearish-reversal-pattern-hanging-man-m60 {
    background: url("images/candle-patterns.png") no-repeat -80px -120px;
}
.bearish-reversal-pattern-hanging-man-h2 {
    background: url("images/candle-patterns.png") no-repeat -120px -120px;
}
.bearish-reversal-pattern-hanging-man-h4 {
    background: url("images/candle-patterns.png") no-repeat -160px -120px;
}
.bearish-reversal-pattern-hanging-man-day {
    background: url("images/candle-patterns.png") no-repeat -200px -120px;
}
.bearish-reversal-pattern-hanging-man-week {
    background: url("images/candle-patterns.png") no-repeat -240px -120px;
}
.bearish-reversal-pattern-hanging-man-month {
    background: url("images/candle-patterns.png") no-repeat -280px -120px;
}

/*------------------------------------------------*/
.bullish-reversal-pattern-hammer-m15 {
    background: url("images/candle-patterns.png") no-repeat 0 -140px;
}
.bullish-reversal-pattern-hammer-m30 {
    background: url("images/candle-patterns.png") no-repeat -40px -140px;
}
.bullish-reversal-pattern-hammer-m60 {
    background: url("images/candle-patterns.png") no-repeat -80px -140px;
}
.bullish-reversal-pattern-hammer-h2 {
    background: url("images/candle-patterns.png") no-repeat -120px -140px;
}
.bullish-reversal-pattern-hammer-h4 {
    background: url("images/candle-patterns.png") no-repeat -160px -140px;
}
.bullish-reversal-pattern-hammer-day {
    background: url("images/candle-patterns.png") no-repeat -200px -140px;
}
.bullish-reversal-pattern-hammer-week {
    background: url("images/candle-patterns.png") no-repeat -240px -140px;
}
.bullish-reversal-pattern-hammer-month {
    background: url("images/candle-patterns.png") no-repeat -280px -140px;
}

/*------------------------------------------------*/
.bullish-reversal-pattern-inverted-hammer-m15 {
    background: url("images/candle-patterns.png") no-repeat 0 -160px;
}
.bullish-reversal-pattern-inverted-hammer-m30 {
    background: url("images/candle-patterns.png") no-repeat -40px -160px;
}
.bullish-reversal-pattern-inverted-hammer-m60 {
    background: url("images/candle-patterns.png") no-repeat -80px -160px;
}
.bullish-reversal-pattern-inverted-hammer-h2 {
    background: url("images/candle-patterns.png") no-repeat -120px -160px;
}
.bullish-reversal-pattern-inverted-hammer-h4 {
    background: url("images/candle-patterns.png") no-repeat -160px -160px;
}
.bullish-reversal-pattern-inverted-hammer-day {
    background: url("images/candle-patterns.png") no-repeat -200px -160px;
}
.bullish-reversal-pattern-inverted-hammer-week {
    background: url("images/candle-patterns.png") no-repeat -240px -160px;
}
.bullish-reversal-pattern-inverted-hammer-month {
    background: url("images/candle-patterns.png") no-repeat -280px -160px;
}

/*------------------------------------------------*/
.bullish-reversal-pattern-piercing-m15 {
    background: url("images/candle-patterns.png") no-repeat 0 -180px;
}
.bullish-reversal-pattern-piercing-m30 {
    background: url("images/candle-patterns.png") no-repeat -40px -180px;
}
.bullish-reversal-pattern-piercing-m60 {
    background: url("images/candle-patterns.png") no-repeat -80px -180px;
}
.bullish-reversal-pattern-piercing-h2 {
    background: url("images/candle-patterns.png") no-repeat -120px -180px;
}
.bullish-reversal-pattern-piercing-h4 {
    background: url("images/candle-patterns.png") no-repeat -160px -180px;
}
.bullish-reversal-pattern-piercing-day {
    background: url("images/candle-patterns.png") no-repeat -200px -180px;
}
.bullish-reversal-pattern-piercing-week {
    background: url("images/candle-patterns.png") no-repeat -240px -180px;
}
.bullish-reversal-pattern-piercing-month {
    background: url("images/candle-patterns.png") no-repeat -280px -180px;
}

/*------------------------------------------------*/
.bearish-reversal-pattern-evening-star-m15 {
    background: url("images/candle-patterns.png") no-repeat 0 -200px;
}
.bearish-reversal-pattern-evening-star-m30 {
    background: url("images/candle-patterns.png") no-repeat -40px -200px;
}
.bearish-reversal-pattern-evening-star-m60 {
    background: url("images/candle-patterns.png") no-repeat -80px -200px;
}
.bearish-reversal-pattern-evening-star-h2 {
    background: url("images/candle-patterns.png") no-repeat -120px -200px;
}
.bearish-reversal-pattern-evening-star-h4 {
    background: url("images/candle-patterns.png") no-repeat -160px -200px;
}
.bearish-reversal-pattern-evening-star-day {
    background: url("images/candle-patterns.png") no-repeat -200px -200px;
}
.bearish-reversal-pattern-evening-star-week {
    background: url("images/candle-patterns.png") no-repeat -240px -200px;
}
.bearish-reversal-pattern-evening-star-month {
    background: url("images/candle-patterns.png") no-repeat -280px -200px;
}

/*------------------------------------------------*/
.bullish-reversal-pattern-morning-star-m15 {
    background: url("images/candle-patterns.png") no-repeat 0 -220px;
}
.bullish-reversal-pattern-morning-star-m30 {
    background: url("images/candle-patterns.png") no-repeat -40px -220px;
}
.bullish-reversal-pattern-morning-star-m60 {
    background: url("images/candle-patterns.png") no-repeat -80px -220px;
}
.bullish-reversal-pattern-morning-star-h2 {
    background: url("images/candle-patterns.png") no-repeat -120px -220px;
}
.bullish-reversal-pattern-morning-star-h4 {
    background: url("images/candle-patterns.png") no-repeat -160px -220px;
}
.bullish-reversal-pattern-morning-star-day {
    background: url("images/candle-patterns.png") no-repeat -200px -220px;
}
.bullish-reversal-pattern-morning-star-week {
    background: url("images/candle-patterns.png") no-repeat -240px -220px;
}
.bullish-reversal-pattern-morning-star-month {
    background: url("images/candle-patterns.png") no-repeat -280px -220px;
}

/*------------------------------------------------*/
.reversal-pattern-doji-m15 {
    background: url("images/candle-patterns.png") no-repeat 0 -240px;
}
.reversal-pattern-doji-m30 {
    background: url("images/candle-patterns.png") no-repeat -40px -240px;
}
.reversal-pattern-doji-m60 {
    background: url("images/candle-patterns.png") no-repeat -80px -240px;
}
.reversal-pattern-doji-h2 {
    background: url("images/candle-patterns.png") no-repeat -120px -240px;
}
.reversal-pattern-doji-h4 {
    background: url("images/candle-patterns.png") no-repeat -160px -240px;
}
.reversal-pattern-doji-day {
    background: url("images/candle-patterns.png") no-repeat -200px -240px;
}
.reversal-pattern-doji-week {
    background: url("images/candle-patterns.png") no-repeat -240px -240px;
}
.reversal-pattern-doji-month {
    background: url("images/candle-patterns.png") no-repeat -280px -240px;
}
