.strategy-info {
    font-size: 12px;
    margin: 5px 0;
    cursor: pointer;
    height: 108px;
    overflow: hidden;
}

.strategy-info:hover {
    height: auto;
}

.strategy-info-short-info {
    display: flex;
    justify-content: space-between;
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr 1fr;*/
    /*grid-column-gap: 5px;*/
    /*grid-row-gap: 1px;*/
}

.strategy-info .bot-control-button {
    margin-left: 5px;
}