.premise-before-date .p-button.p-button-text-only .p-button-text {
    font-size: 12px;
    padding: 1px 2px;
}

.premise-before-date .p-inputtext {
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0;
    width: 80px;
}