.td__stack .volumes {
    margin: 0;
    /* z-index: -3; */
    /* position: absolute; */
    /* top: 20px; */
    /* bottom: 0px; */
    width: 100px;
    height: 100%;
    overflow: hidden;
}

.volume {
    line-height: 10px;
    display: flex;
}

.volume-price {
    margin: 0;
    width: 30px;
    display: inline-block;
}

.volume-volume {
    width: 70px;
    /*background-color: #bdc3c7;*/
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.volume-value {
    position: absolute;
    width: 65px;
    display: flex;
    justify-content: space-between;
}

.volume-buy {
    background-color: #16a08566
}

.volume-sell {
    background-color: #e74c3c66
}