.chart-wrapper {

}

.chart-wrapper-head {
    display: flex;
    justify-content: flex-start;
    font-size: 12px;
}

.chart-wrapper-head-security {
    line-height: 18px;
}

.chart-wrapper-head-interval {
    margin-left: 5px;
}

.chart-wrapper-head-interval .p-dropdown {
    font-size: 12px;
}

.chart-wrapper-head-interval .p-dropdown-label {
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0;
}

.chart-wrapper-head-start-date {
    margin-left: 5px;
}

.chart-wrapper-head-start-date .p-inputtext {
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0;
    width: 80px;
}

.chart-wrapper-head-trendline {
    margin-left: 5px;
}

.chart-wrapper-head-trendline .p-button.p-button-text-only .p-button-text {
    font-size: 12px;
    padding: 0 3px;
}

.chart-wrapper-head-legends {
    font-size: 12px;
    padding: 0;
    color: white;
    display: flex;
    justify-content: flex-start;
    height: 18px;
    line-height: 16px;
}

.chart-wrapper-head-legends div {
    padding: 0 2px;
    margin-left: 2px;
}