#control-panel {
    height: 180px;
    width: 1000px;
    position: fixed;
    right: 248px;
    background-color: #dadada;
    z-index: 9999;
    transition: top 0.2s;
}

#control-panel-toggle-btn {
    position: absolute;
    transition: bottom 0.2s;
    left: 200px;
}

#control-panel-toggle-btn .p-button-text {
    font-size: 10px;
    padding-top: 2px;
    padding-bottom: 0;
    line-height: 16px;
}

#control-panel-toggle-btn-2 {
    position: absolute;
    left: 300px;
    transition: bottom 0.2s;
}

#control-panel-toggle-btn-2 .p-button-text {
    font-size: 10px;
    padding-top: 2px;
    padding-bottom: 0;
    line-height: 16px;
}

#control-panel .p-inputtext {
    padding-top: 2px;
    padding-bottom: 2px;
}

#control-panel .p-datatable .p-datatable-thead > tr > th {
    font-size: 10px;
    padding: 0;
}

#control-panel .p-datatable .p-datatable-tbody > tr > td {
    padding: 2px 0;
    text-align: center;
}

#control-panel .p-button-text {
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0;
}

#control-panel .fast-btn .p-button-text {
    padding: 0;
}

#control-panel .catch-btn .p-selectbutton .p-button-text {
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
}