.WidgetbarTabs {
  width: 50px;
}

.WidgetbarTabs_border {
  border-left: 1px solid #eee;
}

.WidgetbarTab {
  width: 40px;
  height: 40px;
  font-size: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.WidgetbarTab:hover {
  background-color: #eee;
}

.WidgetbarTab.active {
  background-color: #eee;
}
