.trend-position-2 {
    font-size: 14px;
    color: #fff;
}

.trend-position-3 {
    font-size: 14px;
    color: #fff;
}

.trends-position-3 {
    width: 100px;
}

.trends-position-switcher {
    padding: 0;
}

.trends-position-switcher div {
    width: 15px;
    text-align: center;
    border: 1px solid;
    cursor: pointer;
}
.trends-position-switcher div.active {
    background-color: cornflowerblue;
}